:root {
    --primaryColor: #583EBC;
    --white: #FFFFFF;
    --black: #333333;
    --gold: #FFD7A8;
    --grey: #F7F7F7;
    --fsize-1: 40px;
    --fsize-2: 56px;
    --fsize-3: 18px;
    --boxShadow: inset 0 -4em 4em rgba(0,0,0,0.1), 
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "DM+Sans";
    color: var(--black);
    background: var(--grey);
}

h1 {
    font-weight: lighter;
    font-size: var(--fsize-1);
}

h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover{
    color: var(--primaryColor);
}

p {
    line-height: 40px;
    font-size: var(--fsize-3);
}

ul {
    list-style: none;
}


img {
    max-width: 100%;
}


.main-button {
    padding: 8px;
    color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.178);
    border-radius: 5%;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--fsize-3);
    background-color: transparent;
    transform: scale(1);
    color: var(--black);
    width: 170px;
    height: 48px;
}

.main-button:hover {
    background-color: var(--white);
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}

.afterline {
    position: relative;
    z-index: 1;
}

.afterline::after {
    position: absolute;
    z-index: -1;
    background-color: #FFD7A8;
    display: inline-block;
    content: '';
    width: 105%;
    height: 15px;
    top: 40%;
    left: -2%;
}


section {
    padding: 2rem 0; 
}

/*////////////////////////////// GLOBAL //////////////////////*/

/*////////////////////////////// HERO //////////////////////*/




#hero {
    height: calc(110vh - 80px);
    padding: 0 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.329)), url('/img/hero/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 997;
}

.hero__text {
    width: 100%;
    height: 30vh;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero__text h1 {
    position: absolute;
    font-size: 55px;
    color: var(--white);
}

.text1
.text2 {
    display: none;
}
@media (min-width: 800px) {
    .hero__text {
        display: flex;
    }
    .hero__text h1 {
        position: absolute;
        font-size: 100px;
        top: 35%;
    }
}


@media (min-width: 1200px) {
    .hero__text h1 {
        position: absolute;
        font-size: 155px;
        top: 35%;
    }

    .hero__text .text1 {
        left: 30%;
        color: rgba(255, 255, 255, 0.884);
        animation: text1 3s linear;
    }
    
    .hero__text .text2 {
        right: 27.7%;
        color: rgba(255, 255, 255, 0.288);
        animation: text2 4s linear;
    }
    
    .hero__text .text3 {
        left: 30%;
        color: rgba(18, 189, 55, 0.486);
        animation: text3 4s linear;
    }

    @keyframes text1 {
        0% { left: 30%; }

        50% { left: 0; }

        100% { left: 30%; }

    }

    @keyframes text2 {
        0% { right: 27.7%; }

        50% { right: 0; }

        100% { right: 27.7%; }

    }

    @keyframes text3 {
        0% { right: 27.7%; }

        50% { top: 0; }

        100% { right: 27.7%; }

    }

  }


/*////////////////////////////// HERO //////////////////////*/


/*////////////////////////////// ABOUT //////////////////////*/

#about {
    margin: 0 auto;
    padding: 0 1rem 4rem 1rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 180vh;
}

.about-text > * {
    margin: 1.4rem 0;
}

#about h3 {
    text-transform: uppercase;
    color: #FFD7A8;
    font-weight: 700;
    font-size: var(--fsize-3);
}


#about h1 {
    font-size: var(--fsize-1);
    font-weight: bold;
}

.about-image {
    position: relative;
    background: url("/img/about/Bitmap.png") no-repeat;
    background-size: cover;
    box-shadow: var(--boxShadow);
    height: 290px;
    width: 290px;
    border-radius: 7%;
    margin-top: 4rem;
}

  

.about-icon {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 65px;
    height: 65px;
    border-radius: 7%;
    border: none;
    background: var(--gold);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--boxShadow);
}

.about-icon img {
    width: 30px;
}

.about-description {
    position: absolute;
    background-color: var(--white);
    border-radius: 7%;
    padding: 0.4rem;
    left: 10%;
    top: 300%;
    box-shadow: var(--boxShadow);
}

.about-description h2{
    padding: 1rem 1rem 0 1rem;
    font-size: var(--fsize-1);
    font-weight: bold;
}

.about-description p {
    padding: 1rem;
    color: rgba(0, 0, 0, 0.397);
}

@media (min-width: 800px) {
    #about {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 6rem calc((100vw - 1250px - 0.5rem) / 2 );
        height: 100vh;
    }

    #about h1{
       font-size: var(--fsize-2);
    }

    #about h3 {
        font-size: var(--fsize-3);
    }

    .about-text {
        width: 40%;
    }

    .about-image {
        background: url("/img/about/Bitmap.png") no-repeat;
        background-size: cover;
        box-shadow: var(--boxShadow);
        height: 460px;
        width: 450px;
    }

    .about-image::after {
        position: absolute;
        content: url('/img/about/Combined\ Shape.svg');
        left: 40%;
        top: -15%;
        z-index: 1;
    } 

    .about-icon {
        top: 10%;
        left: 10%;
        width: 112px;
        height: 112px;
    }

    .about-icon img {
        width: 50px;
    }

    .about-description {
        position: absolute;
        background-color: var(--white);
        font-size: var(--fsize-3);
        border-radius: 7%;
        padding: 1rem;
        left: 10%;
        box-shadow: var(--boxShadow);
    }
    
    .about-description h2{
        padding: 1rem 1rem 0 1rem;
        font-size: var(--fsize-2);
        font-weight: bold;
    }
    
    .about-description p {
        padding: 1rem;
        color: rgba(0, 0, 0, 0.397);
    }
    
}

@media (min-width: 1200px) {
    .about-image {
        height: 570px;
        width: 560px;
    }

    .about-description {
        left: 170%;
        top: 250%;
    }
}

/*////////////////////////////// ABOUT //////////////////////*/

/*////////////////////////////// SERVICE //////////////////////*/
#service {
    margin: 0 auto;
    padding: 4rem 1rem;
}

.service-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-row-gap: 1.4rem;
}

.box {
    padding: 2rem;
    border-radius: 7%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box h2 {
    font-weight: 700;
}

.box-icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.blue-box {
    position: relative;
    background-color: #C7E8FF;
    grid-column: 2/4;
    grid-row: 1/3;
}

.blue-box::after {
    position: absolute;
    content: url('/img/about/Combined\ Shape.svg');
    z-index: -1;
    top: 76%;
    left: 31%;
}

.orange-box {
    background-color: #FFD7A8;
    grid-column: 1/4;
    grid-row: 3/6;
}

.purple-box {
    background-color: #DDBEFF;
    grid-column: 2/5;
    grid-row: 6/10;
}

.purple-box::after {
    position: absolute;
    content: url('/img/about/Combined\ Shape.svg');
    z-index: -1;
    top: -18%;
    left: -25%;
}

.service-text > * {
    padding: 0.8rem 0;
}

.service-text h3 {
    text-transform: uppercase;
    color: #FFD7A8;
    font-weight: 700;
    font-size: var(--fsize-3);
}

.service-text h1 {
    font-size: var(--fsize-1);
    font-weight: bold;
}

.service-video {
    display: flex;
}

.service-video button {
    border: none;
}

.service-video .fas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: white;
    background-color: var(--primaryColor);
    padding: 1rem;
    border-radius: 50%;
    font-size: var(--fsize-3);
}

.service-video div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 1rem;
}

.service-video h2 {
    font-weight: 700;
}

@media (min-width: 800px) {
    #service {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 6rem calc((100vw - 1450px - 0.5rem) / 2 );
        margin: 0 auto;
        height: 100vh;
    }

    .service-boxes {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 1.4rem;
    }

    .box h2 {
        font-weight: 700;
    }
    
    .blue-box {
        position: relative;
        grid-column: 8/14;
        grid-row: 1/3;
    }

    .blue-box::after {
        top: 45%;
        left: 91%;
    }
    
    .orange-box {
        grid-column: 1/8;
        grid-row: 2/5;
    }
    
    .purple-box {
        grid-column: 8/17;
        grid-row: 3/7;
    }

    .purple-box::after {
        top: 23%;
        left: -50%;
    }

    .blue-box .box-icon img {
        animation: brush 3s infinite linear both;
    }

    @keyframes brush {
        0% {
          transform: translateX(-50%);
        }
        25% {
            transform: translateX(20%);
        }
        45% {
            transform: translateX(15%);
        }
        60% {
            transform: translateX(10%);
        }
        70% {
            transform: translateX(5%);
        } 
        100% {
            transform: translateX(-50%);
        }
    }

    .orange-box .box-icon img {
        width: 110px;
        animation: camera 3s infinite linear;
    }

    @keyframes camera {
        0%{
          transform: scale(0.7, 1.4);
        }
        25% {
          transform: scale(1.4, 0.7);
        }
        50% {
            transform: scale(0.7, 1.4);
        }
        75% {
          transform: scale(1, 0.8); 
        } 
        100% {
          transform: scale(0.7, 1.4);
        }
    }

    .purple-box .box-icon img {
        width: 150px;
        animation: lamp 3s infinite linear;
    }

    @keyframes lamp {
        0%{
          transform: scale(1) translate(-10%, -25%);
        }
        25% {
          transform: scale(0.7) translate(-10%, -27%);
        }
        45% {
            transform: scale(1.5) translate(-12%, -27%);
          }
        60% {
          transform: scale(1) translate(-10%, -25%);
        }
        70% {
          transform: scale(0.6) translate(-10%, -25%); 
        } 
        100% {
          transform: scale(1) translate(-10%, -25%);
        }
    }

    .box-icon img {
        width: 80px;
    }
    
    .service-text {
        margin-left: 40px;
    }

    .service-text h1 {
        font-size: var(--fsize-2);
    }

    .service-text h3 {
        font-size: 24px;
    }

    .service-text p {
        width: 430px;
    }

    
}

/*////////////////////////////// SERVICE //////////////////////*/

/*////////////////////////////// COLLECTION //////////////////////*/

#collection {
    padding: 4rem 1rem;
    background-color: var(--white);
}

.collection-text > * {
    padding: 1rem 0;
}

.collection-text h3 {
    text-transform: uppercase;
    color: #FFD7A8;
    font-weight: 700;
    font-size: var(--fsize-3);
}

.collection-text h1 {
    font-weight: 700;
}

.collection-text p {
    font-size: var(--fsize-3);
}

.collection-gallery {
    padding: 4rem 0;
}

.collection-image {
    position: relative;
    margin-top: 1rem;
}

.collection-image .white-bg {
    position: absolute;
    display: none;
    justify-content: space-around;
    top: 50%;
    left: 5%;
    background-color: var(--white);
    border-radius: 5%;
    padding: 1.6rem 1rem;
    box-shadow: var(--boxShadow);
}

.collection-image:hover .white-bg {
    /* transition: transform 3s linear;
    transform: translateX(-10%); */
    display: flex;
}

/* @keyframes hoverLeft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-10%);
    }
} */

.collection-image .white-bg h2 {
    width: 200px;
    font-weight: 700;
}

.collection-image .white-bg h5 {
    font-weight:lighter;
    font-size: var(--fsize-3);
    padding-top: 0.4rem;
}

.collection-image .white-bg .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    box-shadow: var(--boxShadow);
    border-radius: 50%;
    border: none;
    padding: 1rem;
    margin-left: 3rem;
    animation: iconScale 1s infinite linear;
}

@keyframes iconScale {
    0%{
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.lightbox .lightbox-items .item .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0.5);
    opacity: 0;
    transition: all .5s ease;
}

.lightbox .lightbox-items .item:hover .overlay {
    transform: scale(0.9);
    opacity: 1;
}


.lightbox .lightbox-items .item .overlay h2 {
    color: #ffffff;
    font-size: 24px;
    margin: 30px 0;
}

.lightbox .lightbox-items .item .overlay .fas {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
    font-size: 30px;
    color: #000000;
    background-color: #fff;
    cursor: pointer;
}

.lightbox-big {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    cursor: zoom-out;
    padding:0 10px;
}

.lightbox-big.open {
    display: flex;
}

.lightbox-big .lightbox-img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 700px;
    padding: 40px 0;
    cursor: pointer;
    animation: lightImage .5s ease;
}

@keyframes lightImage {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.lightbox-big .lightbox-content {
    position: relative;
}

.lightbox-big .lightbox-close {
    position: absolute;
    z-index: 101;
    right: 0;
    height: 40px;
    width: 40px;
    top: -5%;
    text-align: center;
    line-height: 40px;
    color: var(--black);
    cursor: pointer;
    font-size: 26px;
    background-color: var(--gold);
    border-radius: 50%;
}

.lightbox-big .lightbox-caption {
    color: var(--gold);
    font-size: 16px;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 15px;
    display: flex;
    justify-content: space-between;
    z-index: -1;
}

.lightbox-big .lightbox-controls div{
    position: absolute;
    top: 65%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-top: -20px;
    border-radius: 50%;
    background-color: var(--gold);
    cursor: pointer;
    transition: all .5s ease;
}

.lightbox-big .lightbox-controls div:hover {
    background-color: #ffffff;
}

.lightbox-big .lightbox-controls div.prev {
    left: 30px;
}

.lightbox-big .lightbox-controls div.next {
    right: 30px;
}

@media (min-width: 800px) {
    #collection {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 6rem calc((100vw - 1450px - 0.5rem) / 2 );
        margin: 0 auto;
        height: 100vh;
    }

    .collection-text h3 {
        font-size: calc(var(--fsize-2) / 2);
    }

    .collection-text h1 {
        font-size: var(--fsize-2); 
    }

    .collection-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2rem;
    }

    .collection-image .white-bg {
        padding: 1.6rem 2.5rem;
        box-shadow: var(--boxShadow);
    }

    .collection-text h1::after {
        position: absolute;
        content: url('/img/about/Combined\ Shape.svg');
        z-index: 1;
        left: -40%;
        top: 85%;
    } 

    .lightbox-big .lightbox-close {
        top: 0;
    }

    .lightbox-big .lightbox-content img {
        width: 900px;
        height: 700px;
    }

    .lightbox-big .lightbox-caption {
        font-size: var(--fsize-1);
        bottom: -15px;
    }

    .lightbox-big .lightbox-controls div{
        top: 50%;
    }


/*////////////////////////////// COLLECTION //////////////////////*/

/*////////////////////////////// WORK //////////////////////*/

#work {
    padding: 0 1rem 2rem 1rem;
    background-color: var(--white);
}

.work-title h3 {
    text-transform: uppercase;
    color: rgb(255, 187, 110);
    font-weight: 700;
    font-size: var(--fsize-3);
}

#work .tabs {
    display: flex;
}

#work .tabs li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.3;
    background-color: var(--grey);
    width: 140px;
    height: 208px;
    box-shadow: var(--boxShadow);

}

#work .tabs li.active{
    opacity: 1;
    box-shadow: var(--boxShadow);
    font-weight: bold;
    background-color: var(--white);
    border: none;
}

#work .tabs .active .tab-image{
    background-color: var(--white);
}

#work .tabs li .tab-image {
    background-color: var(--grey);
    border-radius: 50%;
    height: 92px;
    width: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#work .tabs li img {
    position: relative;
    width: 68px;
    height: 46px;
}

#work .tabs li div {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-top: 0.4rem;
}

#work .work-process .panel{
    position: relative;
    display: none;
    border: none;
    padding: 2rem 10px;
    border-radius: 7%;
    margin: 2rem 0;
    background-color: var(--grey);
}

#work .work-process .panel.active {
    display: block;
}

#work .work-process .panel.active .panel-image h2 {
    position: absolute;
    top: 5%;
    font-weight: 700;
    font-size: 140px;
    color: rgb(224, 224, 224);
}

#work .work-process .panel img {
    margin: 2rem 0;
    width: 290px;
    height: 290px;
    border-radius: 50%;
}

#work .work-process .panel h1 {
    font-weight: 700;
}

#work .work-process .panel p {
    padding: 2rem ;
    text-align: justify;
}

@media (min-width: 1000px) {
    #work {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 6rem calc((100vw - 1450px - 0.5rem) / 2 );
        margin: 0 auto;
        height: 100vh;
    }

    .work-title h3 {
        font-size: var(--fsize-3);
    }

    .work-title h1 {
        font-size: var(--fsize-2);
        font-weight: bolder;
        margin-bottom: 4rem;
        position: relative;
    }

    .work-text .tabs li{
        margin-right: 2rem;
    }

    #work .work-process .panel img {
        margin: 2rem 0.4rem 0 0;
    }

    .work-process .panel {
        max-width: 600px;
    }

    .work-title h1::after {
        position: absolute;
        content: url('/img/about/Combined\ Shape.svg');
        left: 60%;
        top: -35%;
        z-index: 1;
    }

    .work-process .panel h1 {
        font-size: var(--fsize-2);
        padding: 0.4rem 2rem 0 2rem;
    }

    .work-process .panel p {
        padding: 0 2rem 2rem 2rem;
    }

    #work .work-process .panel.active .panel-image {
        display: flex;
        justify-content: space-between;
        max-width: 500px;
    }

    #work .work-process .panel.active .panel-image h2{
        position: unset;
        font-size: calc(var(--fsize-2)*2);
        padding: 1rem;
    }

}

/*////////////////////////////// WORK //////////////////////*/

/*////////////////////////////// TESTIMONIALS //////////////////////*/

#testimonials {
    padding: 0 1rem;
    margin: 4rem 0 2rem 0;
    overflow: hidden;
}

.testimonials-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials-text h3{
    text-transform: uppercase;
    color: rgb(255, 187, 110);
    font-weight: 700;
    font-size: var(--fsize-3);
    padding-bottom: 1rem;
}

.testimonials-text h1 {
    font-weight: bolder;
}

.testimonials-cards {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.testimonials-card {
    background-color: var(--white);
    border-radius: 7%;
    padding: 3rem 2.4rem;
    margin: 1rem 0;
}

.testimonials-card:nth-child(1) {
    position: relative;
}

.testimonials-card:nth-child(1)::after {
    position: absolute;
    content: url('/img/about/Combined\ Shape.svg');
    z-index: -1;
    top: -9%;
    left: 72%;
}

.testimonials-card:nth-child(2) {
    background-color: var(--gold);
    position: relative;
}

.testimonials-card:nth-child(2)::after {
    position: absolute;
    content: url('/img/about/Combined\ Shape.svg');
    z-index: -1;
    top: -9%;
    left: -11%;
}

.testimonials-card:nth-child(3) {
    position: relative;
}

.testimonials-card:nth-child(3)::after {
    position: absolute;
    content: url('/img/about/Combined\ Shape.svg');
    z-index: -1;
    top: -9%;
    left: 72%;
}

.testimonials-card p {
    text-align: justify;
    line-height: 35px;
}

.testimonials-image {
    margin: 2rem 0;
    display: flex;
}

.testimonials-image div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    margin-left: 1rem;
}

.testimonials-image div h2 {
    font-weight: bold;
}

@media (min-width: 800px) {
    #testimonials {
        padding: 6rem calc((100vw - 1250px - 0.5rem) / 2 );
        margin: 0 auto;
        height: 100vh;
    }
    
    .testimonials-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .testimonials-card:not(:first-child) {
        margin-left: 1.5rem;
    }
    
    .testimonials-card:nth-child(1)::after {
        top: 69%;
        left: 72%;
    }
    
    .testimonials-card:nth-child(2)::after {
        top: -9%;
        left: 90%;
    }
    
    .testimonials-card:nth-child(3)::after {
        position: absolute;
        content: '';
    }
}


/*////////////////////////////// TESTIMONIALS //////////////////////*/

/*////////////////////////////// SLIDER //////////////////////*/
#slider-images{
    padding-bottom: 0;
}

#slider, .wrap, .slide-content {
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.wrap {
    position: relative;
}

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.slide1{
    background-image: url('/img/slider/desert.png');
}

.slide2{
    background-image: url('/img/slider/ales-krivec-CgGu2C3RjDc-unsplash.jpg');
}

.slide3{
    background-image: url('/img/slider/eric-barbeau-EEuKggcEjZk-unsplash.jpg');
}

.slide4{
    background-image: url('/img/slider/fineas-anton--SID3IDjfJ4-unsplash.jpg');
}

.slide5{
    background-image: url('/img/slider/karl-muscat-5LOLXAcO59w-unsplash.jpg');
}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    padding: 0 0 6rem 1rem;
}

.slide-content h3 {
    text-transform: uppercase;
    color: rgb(255, 187, 110);
    font-weight: 700;
    font-size: 24px;
    text-shadow: 2px 2px 2px black;
}

.slide-content h1 {
    font-size: var(--fsize-1);
    color: white;
    text-shadow: 2px 2px 2px black;
}

.arrows {
    position: absolute;
    top: 80%;
    right: 5%;
    display: flex;
}

.arrow-slider {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#arrow-right {
    margin-left: 0.5rem;
}

@media (min-width: 800px) {

    
    #slider, .wrap, .slide-content {
        height: 100vh;
    }

    .slide-content {
        padding: 0 0 8rem 2rem;
    }

    .slide-content h1{
        font-size: var(--fsize-2);
    }

    .arrow-slider {
        font-size: var(--fsize-3);
        padding: 1.5rem;
    }

    .arrows{
        top: 80%;
        right: 5%;
        font-size: var(--fsize-3);
        display: flex;
    }
    

    #arrow-right {
        margin-left: 1rem;
    }
}

/*////////////////////////////// SLIDER //////////////////////*/

/*////////////////////////////// NEWS //////////////////////*/

/* #news {
    padding: 0 1rem;
    background-color: var(--white);
    margin: 2rem 0;
}

.news-text {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
}

.news-text h3 {
    padding: 2rem 0;
    text-transform: uppercase;
    color: rgb(255, 187, 110);
    font-weight: 700;
    font-size: 24px;
}

.news-text h1 {
    font-weight: bolder;
}

#news .news-articles {
    position: relative;
}

.news-articles img {
    margin-left: 0.9rem;
}

#news .article {
    padding: 2rem 3rem;
    border-radius: 7%;
    box-shadow: var(--boxShadow);
    background-color: var(--white);
}


#news .news-articles .article:first-of-type {
    position: absolute;
    top: 74%;
    left: -1%;
    padding: 2rem 2rem 2rem 3rem;
    z-index: 1;
}

#news .news-articles .article:nth-child(3){
    position: absolute;
    margin-top: 14rem;
    box-shadow: unset 2px 1px 1px rgba(41, 40, 40, 0.342);
}

#news .news-articles .article:nth-child(3)::after {
    position: absolute;
    content: url('/img/about/Combined\ Shape.svg');
    z-index: -1;
    top: -22%;
    left: 50%;
}

#news .news-articles .article:nth-child(4){
    position: absolute;
    margin-top: 29rem;
}

#news .article h2 {
    font-weight: bolder;
}

#news .article p {
    text-align: justify;
    padding: 0.5rem 0;
    opacity: 0.8;
}

@media (min-width: 1000px) {
    #news {
        padding: 2rem calc((100vw - 1250px - 0.5rem) / 2 );
        margin: 0 auto;
    }

    #news .news-articles {
        position: unset;
        height: 55vh;
        display: grid;
        grid-template-columns: repeat(16,1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-gap: 0.4rem;
    }

    .news-articles img {
        width: 100%;
        grid-column: 2/11;
        grid-row: 1/13;
    }

    #news .news-articles .article:first-of-type {
        position: unset;
        grid-column: 1/6;
        grid-row: 7/12;
    }
    
    #news .news-articles .article:nth-child(3){
        position: unset;
        margin-top: 0;
        box-shadow: unset 2px 1px 1px rgba(41, 40, 40, 0.342);
        grid-column: 12/17;
        grid-row: 1/7;
    }

    
    #news .news-articles .article:nth-child(4) {
        position: unset;
        margin-top: 0;
        grid-column: 12/17;
        grid-row: 8/13;
    }

} */
/*////////////////////////////// NEWS //////////////////////*/

/*////////////////////////////// FOOTER //////////////////////*/


#footer-gallery {
    margin: 0;
    padding: 0;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 1000px) { 
    .image-gallery img {
        width: 220px;
        height: 220px;
    }

    .image-gallery {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0;
    }
}

#footer {
    margin: 0;
    padding: 3rem 1rem 1rem 1rem;
    background-color: var(--black);
    color: var(--white);
}

.footer-logo {
    margin-bottom: 2rem;
}

.footer-logo h1 {
    padding-bottom: 0.4rem;
    font-weight: bolder;
}

.footer-logo h4 {
    opacity: 0.6;
}

#footer .contact li {
    margin-bottom: 1rem;
}

#footer .contact li:nth-child(even){
    opacity: 0.6;
    margin-bottom: 2rem;
}

.footer-social {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.footer-social a {
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 4px;
    padding: 8px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social i {
    color: white;
}

@media (min-width: 1000px) { 
    #footer {
        padding: 6rem calc((100vw - 1450px - 0.5rem) / 2 );
        margin: 0 auto;
        display: flex;
    }

    #footer .contact {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}



/*////////////////////////////// FOOTER //////////////////////*/


/* ////////////////// MODAL  /////////////////*/
.card {
    background: var(--grey);
    border-radius: 10px;
    box-shadow: var(--boxShadow);
}
  
.modal {
    position: fixed;
    z-index: 100;
    width: 80%;
    top: 35vh;
    left: 10%;
    display: none;
    background-color: var(--gold);
}
  
.modal.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
}

#backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    pointer-events: none;
    display: none;
}
  
#backdrop.visible {
    display: block;
    pointer-events: all;
}

.modal__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

.modal__actions .close {
    border: 1px solid var(--gold);
    width: 90px;
    height: 30px;
    padding: 1px;
    font-size: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--gold);
    font-weight: 700;
    background-color: var(--black);
    cursor: pointer;
}



@media (min-width: 800px) {
    .modal {
      width: 60rem;
      height: 40rem;
      top: 15vh;
      left: calc(50% - 30rem);
      border: 1px solid var(--gold);
    }

    .modal__list {
        margin: 1rem auto;
        padding: 1rem 8rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .modal__item {
        max-width: 300px;
        padding-bottom: 3rem;
    }

    .modal__item img {
        width: 80px;
        height: 80px;
    }
    
}
/* ////////////////// MODAL  /////////////////*/

/* ////////////////// VIDEO /////////////////*/

.screen {
    cursor: pointer;
    width: 100%;
    background-color: #000 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  


/* ////////////////// VIDEO /////////////////*/
